.mobile-nav{
    position: fixed;
    background-color: white;
    border-bottom: 2px solid var(--secondary-color);
    height: var(--mobileNavHeight);
}

.mobile-nav-item{
    cursor: pointer;
}