.large-footer{
    background-color: #201d48;
    color: white;
}

.footer-logo{
    width: 100px;
}

.location-badge{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
    display: flex;
    gap:6px;
    align-items: center;
    color: white;
}

.footer-link{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-link:hover{
    cursor: pointer;
    text-decoration: underline;
}