.p-card {
  width: 300px;
}

.slider-wrapper {
  position: relative;
}

.back-btn {
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  z-index: 1;
}

.forward-btn {
  position: absolute;
  right: -40px;
  width: 40px;
  height: 100%;
  z-index: 1;
}

.back-btn-circle {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 30px;
  width: 30px;
  border: 1px solid #adadad;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.forward-btn-circle {
  position: absolute;
  top: 30%;
  right: 10%;
  height: 30px;
  width: 30px;
  border: 1px solid #adadad;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.back-btn:hover .back-btn-circle {
  background-color: #adadad;
  transition: 0.2s ease-in-out;
}

.forward-btn:hover .forward-btn-circle {
  background-color: #adadad;
  transition: 0.2s ease-in-out;
}

.card-list {
  overflow-x: auto;
  padding-bottom: 60px;
  margin-bottom: 30px;
}

.card-list::-webkit-scrollbar {
    height: 12px; 
    cursor: pointer;
}

.card-list::-webkit-scrollbar-track {
    background: #D9D9D9;
}

.card-list::-webkit-scrollbar-thumb {
    background: #626262;
}

.card-list::-webkit-scrollbar-thumb:hover {
    background: black;
}

.slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 4px;
  width: 80%;
  position: relative;
  background: #ccc;
}

.slider-scrollbar .scrollbar-thumb {
  height: 4px;
  position: absolute;
  width: 30%;
  border-radius: inherit;
  cursor: grab;
  background: #626262;
}

.scrollbar-thumb:hover {
  background: #000;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
