:root {
  --primary-color: #fd8024;
  --secondary-color: #f6c903;
  --blue-color: #005595;
}

@font-face {
  font-family: "CeraPro";
  src: url(assets/Fonts/Cera-Pro-Regular.otf);
}

body {
  font-family: "CeraPro";
  overflow-x: hidden;
  color: black;
}

.btn-light:hover {
  background-color: black;
  border: none;
  color: white;
}

.btn-light {
  border: none;
}

.blueBtn {
  border: 2px solid var(--blue-color);
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  height: max-content;
  padding: 7px 15px 7px 15px;
}

.blueBtn:hover {
  border: 2px solid transparent;
  background-color: var(--blue-color);
  color: white;
  text-decoration: underline;
}

.filledBlueBtn {
  background-color: var(--blue-color);
  padding: 15px;
  color: white;
  width: 100%;
  min-width: 200px;
  border-radius: 30px;
  border: none;
}

.filledBlueBtn:hover{
  background-color: #083c63;
}

.strokedBlueBtn {
  border: 2px solid var(--blue-color);
  padding: 15px;
  color: var(--blue-color);
  width: 100%;
  min-width: 200px;
  border-radius: 30px;
}

.strokedBlueBtn:hover{
  color: #083c63;
}
