.productInCart-Container{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
    height: 150px;
    /* border-bottom: 1px solid var(--gray-lighter-color); */
    gap:0.6rem;
    position: relative;
}

.productInCart-Container__productImg{
    width: 300px;
    height: 100%;
    margin-right: 2rem;
}

.productInCart-Container__productImg img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.productInCart-Container__productTitlePrice{
    height: 100%;
    max-width: 240px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitlePrice__price{
    font-size: 1.1rem;
    font-weight: bold;
}

.productInCart-Container__counter{
    max-width: 150px;
    width: 100%;
}

.productInCart-Container__wishList{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    font-size: 0.8rem;
    /* max-width: 150px; */
    height: 100%; 
    width: 100%;
}

.wishList__heart-product{
    --heart-container-size: 30px;
    height: var(--heart-container-size);
    width: var(--heart-container-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--st-color-grey-light);
}

.productInCart-Container__delete{
    height: 100%;
    cursor: pointer;
}